@keyframes opac{from{opacity:0} to{opacity:1}}
.navigation {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.arrow {
  background: none;
  border: none;
  padding: 0 10px;
  color: white;
  font-size: 2rem;
  cursor: pointer;
  opacity: 0.5;
  transition: opacity 0.3s ease;
}

.arrow:hover {
  opacity: 1;
}
body { margin:0px; }
.carousel {
    width: 100%;
    overflow: hidden;
    position: relative;
}
.slide {
    width: 100%;
    position: relative; /* Adjust duration and easing as needed */
	animation:opac 0.02s;
}
.slide img {
    width: 100%;
    height:640px;
    object-fit: cover;
}

.text-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    color: white;
    text-align: center;
    padding: 20px;
    background: rgba(0, 0, 0, 0.4); /* Semi-transparent background */
}

.nav-dots {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
}

.dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #fff;
    margin: 0 5px;
    cursor: pointer;
}

.active {
    background-color: #007bff;
}

.hide {
    display: none;
}