/* .navbar-nav .nav-link.active { color:#7f1231 !important;padding:6px 10px;background-color:#fff;border-radius:8px;margin-right:5px; } */
.navbar-nav .nav-link.active span { color: #000;padding-bottom:5px;border-bottom:3px solid #000; }
.navbar-nav .nav-link { color:#2c2e3e;padding:6px 10px;margin-right:5px; }
#collapsibleNavbar.show { padding-top:15px; }