
@media (max-width:992px){
    .welcome-title { margin-top:60px;margin-left:15px;margin-right:15px; }
}
@media (min-width:993px){

}
.welcome-title { border-top:2px solid #000;border-bottom:2px solid #000; }
.img-section { background-color: #cccccc;height: 500px;background-position: center;background-repeat: no-repeat;
    background-size: cover;position: relative;opacity:0.9; }
.img-section-text { background-color:#ccc; text-align:center;width:100%;
    position: absolute;bottom:30%;left:0%;opacity: 0.6;padding:15px; }

@media (min-width: 1400px) {
 .abt-img-display { display:none; }
}
@media (max-width: 1399px) {
 .abt-img-display { display:block; }
}