#APPS:
# APT
apt-fe/node_modules
apt-fe/dist

#KV
kv/node_modules
kv/dist
kv/nexus/vendor
kv/nexus/logs

#YP
yp/node_modules
yp/nexus/logs

#VKAC
vkac/node_modules
vkac/dist
vkac/nexus/vendor
vkac/nexus/logs

#VKAC-PT
.backup/vkac/node_modules
.backup/vkac/dist
.backup/vkac/nexus/vendor
.backup/vkac/nexus/logs


other/vkac/node_modules
other/vkac/dist
other/vkac/nexus/vendor
other/vkac/nexus/logs
