@media(min-width:993px){ /* Desktop and Above */
  .bis-carousel-jumbotron { margin-top:45px;margin-bottom:45px; }
  .bis-carouselContent { margin-top:6%; }
  .bis-onlyDesktopView { display:block; }
  .bis-onlyMobileView { display:none; }
}
@media(max-width:992px){ /* Mobile */
  .bis-carousel-jumbotron { margin-top:15px;margin-bottom:15px; }
  .bis-carouselContent { margin-top:15px; }
  .bis-onlyDesktopView { display:none; }
  .bis-onlyMobileView { display:block; }
}

.zoom-img { position: relative;border-radius: 16px;overflow: hidden;box-shadow: 2px 2px 2px 2px #ccc; }
.zoom-img img { z-index: -1;width: 100%;transition: all .3s ease-in-out; }
.zoom-img img:hover { transform: scale(1.2); }
.zoom-img .overlay { position: absolute;top: 0;left: 0;width: 100%;height: 100%;
  background: rgba(0, 0, 0, 0.4);display: flex;justify-content: center;align-items: center;color: white;
  opacity: 0;transition: opacity 0.3s ease-in-out; }
.zoom-img .overlay { opacity: 1; }