.about-blog-header { font-family:'BebasNeue';font-size:18px;letter-spacing:1.5px;padding-bottom:8px;border-bottom:1px solid #ccc; }
.about-blog-content { margin-top:8px;font-family:'Metropolis';font-size:14px;line-height:26px;color:#555;
    padding:15px;background-color:#ffede8;border-radius:8px; }