.resume-header-main { text-transform:uppercase;padding-top:8px;padding-bottom:8px;margin-bottom:20px;color:#fff;
    border-top:1px solid #777;border-bottom:1px solid #777;letter-spacing:1px; }
.resume-header-sub { color:#282c34;background-color:#aaa;text-transform:uppercase; }