.main-dca-category-item { padding: 5px;border-bottom: 1px solid #ccc; }
.main-dca-category-item:last-child { border-bottom: none; }
.main-dca-category-item span { cursor:pointer; }
.main-dca-category-item-active, .main-dca-category-item span:hover { font-weight: bold; }
.main-dca-category-item-active { color:#004274; }