.lh25p { line-height:25px; }
.lh36p { line-height:36px; }
.lh42p { line-height:42px; }

.mtop35p { margin-top:35px; }
.mbot35p { margin-bottom: 35px; }
.mbot60p { margin-bottom:60px; }
.bg-yellow1 { background-color:#cddc39; }

.mbot60p { margin-bottom:60px; }

.padBot35p { padding-bottom:35px; }

.blog-fade:hover { opacity:0.9; }

/* Colors */
.font-red { color:red; }
.font-yellow1 { color:#cddc39; }
.font-yellow2 { color:#fff388; }

.text-white { color:#fff; }
.text-vscode-orange { color:#ff9472; }
.text-vscode-pink { color:#ff81ab; }

.logo { font-family: BloomsFree;letter-spacing: 2px; }
.fs11 { font-size:11px; }
.fs20 { font-size:20px; }
.fs22 { font-size:22px; }
.fs26 { font-size:26px; }
.fs28 { font-size:28px; }
.fs30 { font-size:30px; }
.fs32 { font-size:32px; }

.hljs { font-size: 14px !important; }

.cardBox { background-color:#eee;border:1px solid #ccc;border-radius:8px;padding:15px;margin-top:15px;margin-bottom:15px; }

.list-header { font-family:'BebasNeue';font-size:18px;letter-spacing:1.5px;padding-bottom:8px;border-bottom:1px solid #ccc; }

.blog-head { font-family: Metropolis;line-height:36px;color:#333; }
.blog-desc { font-family: Metropolis;font-size:16px;color:#555;line-height:26px; }
.lh-26 { line-height:26px; }


.blog-hgl-title { background-color:#ddd;padding-left:8px;padding-top:5px;padding-bottom:1px; }