/* .navbar-nav .nav-link.active { color:#7f1231 !important;padding:6px 10px;background-color:#fff;border-radius:8px;margin-right:5px; } */
.navbar-nav .nav-link.active span { color: #ffd173;padding-bottom:5px;border-bottom:2px solid #ffd173; }
.navbar-nav .nav-link { color:#fff;padding:6px 10px;margin-right:5px; }
#collapsibleNavbar.show { padding-top:15px; }