
.metropolisBoldFont { font-family:MetropolisBold; }

.wApp-template-odd { background-color:#ddd;color:#000; }
.wApp-template-navy { background-color:#000040;color:#ddd; }

@media(min-width:1200px) { 
 .wApp-template-grid {  padding-top:3vw;padding-bottom:3vw;
   border-top:0.1vw solid #aaa; border-bottom:0.1vw solid #aaa; }
}

@media(max-width:1199px) { 
 .wApp-template-grid {  margin-top:65px;padding-top:55px;padding-bottom:35px;
   border-top:2px solid #aaa; border-bottom:2px solid #aaa; }
}

.wApp-logo-icon { background-color:#000040;border-radius:50%; }
.wApp-logo-text { color:#000040;font-family:BloomsFree; }

.row-flex-container { display: flex;align-items: center; }
.col-flex-container { display: flex;flex-direction: column;align-items: center; }

.bis-hgl-text { color:#000; }
.bis-home-tagline {  width:100%;color:#fff;background-color:#000040; }

img { object-fit: cover;height: 100%;width: 100%; }

@media(min-width:1200px) { 
 .wApp-hgl-textView { padding-left:1.2vw;padding-right:1vw; }
 .wApp-logo-icon { width:3vw;height:3vw;border:0.3vw solid #333;margin-top:1vh;margin-bottom:1vh;
    box-shadow:0.1vw 0.1vw 0.1vw 0.1vw #808080; }
 .wApp-logo-text { margin-top:1.3vh;margin-left:0.5vw;font-size:1.8vw;letter-spacing:0.099vw; }

 .wApp-hgl-headerDiv { margin-bottom:5vh; }
 .bis-hgl-header { font-size:2vw;line-height:6vh; } 
 .bis-hgl-text { margin-top:3vh;font-size:1.4vw;line-height:5vh; }
 .bis-regular-text { font-size:1.2vw;line-height:2vh; }
 .bis-home-tagline { padding:2.5vh; }
}
@media(max-width:1199px) { 
 .wApp-hgl-headerDiv { margin-bottom:35px; }
 .wApp-logo-icon { width:40px;height:40px;border:2px solid #333;padding:3px;margin-top:5px;box-shadow:2px 2px 2px 2px #808080; }
 .wApp-logo-text { letter-spacing:1px;margin-top:8px;margin-left:2px;font-size:24px;letter-spacing:0.8px; }
 
 .bis-hgl-header { font-size:24px;line-height:34px; } 
 .bis-hgl-text { margin-top:25px;font-size:18px;line-height:32px; }
 .bis-regular-text { font-size:18px;line-height:32px; }
 .bis-home-tagline { padding:8px; }
}

/* Library */
@media(min-width:1200px) { 
/* NavMenu */
.nav-link { letter-spacing:0.05vw;font-size:1vw;padding: 0.6vw !important; }
.nav-link.active { border-bottom-width: 0.15vw !important; }
}