.mLeft5p { margin-left:5px; }
.manageEmployees-headerTitle { display:flex;flex-direction:row;margin-bottom:5px;border-bottom:1px solid #ccc }
.manageEmployees-div-title { width:60%; }
.manageEmployees-div-btn { width:40%; }