
.timeline-ui { margin-left: -25px;position: relative;list-style: none; }
.timeline-ui:before { background-color: #fff;content: '';margin-left: -1px;position: absolute;top: 0;left: 4.5em;width: 2px;height: 100%; }
.timeline-event { position: relative; }
.timeline-event:hover .timeline-event-icon { -moz-transform: rotate(-45deg);-ms-transform: rotate(-45deg);-webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);background-color: #2196F3; }
.timeline-event:hover .timeline-event-thumbnail { -moz-box-shadow: inset 40em 0 0 0 #a83279;-webkit-box-shadow: inset 40em 0 0 0 #2196F3;
  box-shadow: inset 40em 0 0 0 #2196F3; }
.timeline-event-copy { padding: 2em;position: relative;top: -1.875em;left: 2em;width: 98%; }
.timeline-event-copy h3 { font-size: 1.75em; }
.timeline-event-copy h4 { font-size: 1.4em;margin-bottom: 1.2em; }
.timeline-event-copy strong { font-weight: 400; }
.timeline-event-copy p:not(.timeline-event-thumbnail) { padding-bottom: 1.2em; }
.timeline-event-icon { -moz-transition: -moz-transform 0.2s ease-in;-o-transition: -o-transform 0.2s ease-in;-webkit-transition: -webkit-transform 0.2s ease-in;
  transition: transform 0.2s ease-in;-moz-transform: rotate(45deg);-ms-transform: rotate(45deg);-webkit-transform: rotate(45deg);transform: rotate(45deg);
  background-color: black;outline: 2px solid white;display: block;margin: 0.5em 0.5em 0.5em -0.5em;position: absolute;top: 0;left: 2em;width: 1em;
  height: 1em; }
.timeline-event-thumbnail { -moz-transition: box-shadow 0.5s ease-in 0.1s;-o-transition: box-shadow 0.5s ease-in 0.1s;-webkit-transition: box-shadow 0.5s ease-in;
  -webkit-transition-delay: 0.1s;transition-delay: 0.1s;transition: box-shadow 0.5s ease-in 0.1s;color: white;font-size: 13px;font-weight: bold;background-color: black;
  -moz-box-shadow: inset 0 0 0 0em #ef795a;-webkit-box-shadow: inset 0 0 0 0em #ef795a;box-shadow: inset 0 0 0 0em #ef795a;display: inline-block;
  margin-bottom: 1.2em;padding: 0.25em 1em 0.2em 1em; }
/* */
.resume-project-title { color:#fff;line-height:26px;padding-top:5px;font-family: Arial, sans-serif;font-size:16px;font-weight:700; }
.resume-project-subtitle { color:#fff;padding-bottom:4px;border-bottom:1px solid #fff; }
.resume-project-badge { color:#ccc;border:1px solid #ccc;padding:6px;margin-right:5px; }
.resume-work-badge { color:#999;border:1px solid #999;padding:6px;margin-right:5px; }