.resume-overlay { height: 100%;width: 0;position: fixed;z-index: 3;top: 0;right: 0;background-color:#0e172b;
    color:#999;overflow-x: hidden;transition: 0.6s;scroll-behavior: smooth; }
.resume-overlay { font-family: Arial, sans-serif !important;font-size:13px;line-height:22px; }
.resume-overlay::-webkit-scrollbar-track { -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.3);
    box-shadow: inset 0 0 2px rgba(0,0,0,0.3);background-color: #F5F5F5; }         
.resume-overlay::-webkit-scrollbar { width:6px;height: 6px;background-color: #F5F5F5; }        
.resume-overlay::-webkit-scrollbar-thumb { background-color: #000000; }
.resume-profilepic { width:120px;height:120px;border-radius:50%; }
.resume-title { text-transform:uppercase;color:#ddd; }
.resume-header-main { text-transform:uppercase;padding-top:8px;padding-bottom:8px;margin-bottom:20px;color:#fff;
    border-top:1px solid #777;border-bottom:1px solid #777;letter-spacing:1px; }
.resume-header-sub1 { color:#282c34;background-color:#aaa;text-transform:uppercase; }
.resume-flex-container { display:flex;flex-wrap: wrap; }
.resume-flex-box { flex-grow:1;padding:10px; }
.resume-hyperlink { color:#999;text-decoration:none; }
.resume-card {  border-color: #282c34; }
.resume-cardBody { background-color: #282c34;color: #999; }

.uppercase { text-transform: uppercase; }

.resume-showcase-container { margin-top:15px;margin-bottom:15px; }
.resume-showcase-button { cursor:pointer;font-size:14px;color:#e99bf7;padding:5px;border-bottom:1px solid #e99bf7; }
.resume-showcase-button:hover { color:#6dbeff;border-bottom:1px solid #6dbeff; }