.ud-file-box { margin-bottom:15px;padding:15px;border:1px solid #ccc;border-radius:8px;flex-direction:column;
    justify-content:space-between;cursor:pointer;color:#555;font-size:13px;overflow-wrap:break-word; }
.ud-file-placeholder { color:#555;font-size:13px; }
.ud-file-box:hover { background-color:#dcecff;border:2px solid #1683ff; }
.ud-file-icon { color:#1683ff; }