.social-link { cursor:pointer;border:1px solid #000; }
.social-link:hover { background-color: #000;color:#fff; }

@media(min-width:1201px) { 
 .social-link { font-size:2.2vw;margin-left:1.5vw;text-align:center;width:4.5vw;height:4.5vw;padding:1vw;border-radius:50%; }
}

@media(max-width:1200px) {
 .social-link { font-size:28px;margin-left:15px;text-align:center;width:60px;height:60px;padding:15px;border-radius:50%; }
}